---
---

@charset 'utf-8';

@import 'fonts';
@import 'colours';
@import 'variables/global';
@import 'variables/component';

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/layout/footer.sass';

html {
  background: $background;
  color: $primary;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $primary;
  padding: $small-padding $small-padding;
  color: $background;
  a {
    color: $background;

    &:hover {
      color: darken($background, 10%);
    }
  }

  .footer-item:after {
    content: '::';
  }

  .footer-item:last-child:after {
    content: none;
  }
}

.container {
  align-items: top;
  padding: $small-padding;
}

.navbar-item {
  display: inline-block;
  color: $primary;
}

.navbar-menu {
  box-shadow: none;
  background: inherit;
}

.navbar {
  align-items: center;
  text-align: center;
  background: inherit;
  text-transform: lowercase;

  a:hover {
    color: darken($primary, 10%);
    background: inherit;
  }
}

.navbar-start {
  font-weight: bold;
  font-size: 2em;
}
