<!-- START NAV -->
<div class='container'>
  <nav class='navbar is-transparent'>
    <div class='navbar-start'>
      <a href='/' class='navbar-item'>
        pikesley.org
      </a>
    </div>
    <div id='navbar-menu-id' class='navbar-menu is-active'>
      <div class='navbar-end'>
        {% for item in site.data.nav %}
          <a href='{{ item.path }}' title='{{ item.title }}' class='navbar-item
             {% if item.path == page.url %} is-active{% endif %}
             '>
            {{ item.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
<!-- END NAV -->
